#game {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTea8hQhsJaTH7qqnQbZ6UJKhyKDfqLoYLk9s272ukLPYKqO6Bg");
	background-size: 100%;
}
#landing {
	background-image: url("http://belajoo.com/i/2017/02/sunrise-mountain-wallpapers-high-resolution.jpg");
	background-size: cover;
}
#play{
	position: relative;
	top: 200px;
	left: 515px;
	font-size: 60px;
	color: whitesmoke;
}
#player1 {
	position: relative;
	height: 75px;
	width: 75px;
	border: 25px;
	padding: 25px;
	margin: 25px;
}
#dog {
	position: relative;
	top: 175px;
	left: 50px;
	color: whitesmoke;
	font-size: 20px;
}
#cat{
	position: relative;
	top: 175px;
	left: 200px;
	color: whitesmoke;
	font-size: 20px;
}
#player2{
	position: relative;
	top: 175px;
	height: 75px;
	width: 75px;
	border: 25px;
	padding: 25px;
	margin: 25px;
}
#food {
	position: relative;
	top: -100px;
	left: 900px;
	height: 75px;
	width: 75px;
	border: 25px;
	padding: 25px;
	margin: 25px;
}
